RewriteEngine On
RewriteBase /shop/

# If the request is not for a valid file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to index.html in the /shop/dist/ directory
RewriteRule . /shop/dist/index.html [L]
